### Intro to the Working with Dates and Times Module

In [1]:
import pandas as pd
import datetime as dt

### Review of Python's `datetime` Module

In [2]:
dt.date(2010, 11, 5)

datetime.date(2010, 11, 5)

In [3]:
someday = dt.date(2010, 1, 20)
someday

datetime.date(2010, 1, 20)

In [4]:
someday.year

2010

In [5]:
someday.month

1

In [6]:
someday.day

20

In [7]:
type(someday)

datetime.date

In [8]:
str(someday)

'2010-01-20'

In [9]:
dt.datetime(2010, 1, 20)

datetime.datetime(2010, 1, 20, 0, 0)

In [10]:
dt.datetime(2010, 1, 20, 8, 13)

datetime.datetime(2010, 1, 20, 8, 13)

In [11]:
dt.datetime(2010, 1, 20, 8, 13, 57)

datetime.datetime(2010, 1, 20, 8, 13, 57)

In [12]:
dt.datetime(2010, 1, 20, 17, 13, 57)

datetime.datetime(2010, 1, 20, 17, 13, 57)

In [13]:
str(dt.datetime(2010, 1, 20, 17, 13, 57))

'2010-01-20 17:13:57'

In [14]:
sometime = dt.datetime(2010, 1, 20, 17, 13, 57)

In [15]:
sometime.year

2010

In [16]:
sometime.month

1

In [17]:
sometime.day

20

In [18]:
sometime.hour

17

In [19]:
sometime.minute

13

In [20]:
sometime.second

57

### The pandas `Timestamp` Object

In [21]:
pd.Timestamp("2015-03-31")

Timestamp('2015-03-31 00:00:00')

In [22]:
pd.Timestamp("2015/03/31")

Timestamp('2015-03-31 00:00:00')

In [23]:
pd.Timestamp("2015, 03, 31")

Timestamp('2015-03-31 00:00:00')

In [24]:
pd.Timestamp("1/1/2015")

Timestamp('2015-01-01 00:00:00')

In [25]:
pd.Timestamp("19/12/2015")

C:\Users\vinli\anaconda3\envs\pandas_playground\lib\site-packages\IPython\core\interactiveshell.py:3135: UserWarning: Parsing '19/12/2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Timestamp('2015-12-19 00:00:00')

In [26]:
pd.Timestamp("12/19/2015")

Timestamp('2015-12-19 00:00:00')

In [27]:
pd.Timestamp("4/3/2015")

Timestamp('2015-04-03 00:00:00')

In [28]:
pd.Timestamp("2021-03-08 08:35:15")

Timestamp('2021-03-08 08:35:15')

In [29]:
pd.Timestamp("2021-03-08 6:13:29 PM")

Timestamp('2021-03-08 18:13:29')

In [30]:
pd.Timestamp(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [31]:
pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 22))

Timestamp('2000-02-03 21:35:22')

### The pandas `DateTimeIndex` Object

In [32]:
dates = ["2016-01-02","2016-04-12","2009-09-07"]

In [33]:
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [34]:
type(pd.DatetimeIndex(dates))

pandas.core.indexes.datetimes.DatetimeIndex

In [35]:
dates2 = ["2016/01/02","2016/04/12","2009/09/07"]

In [36]:
pd.DatetimeIndex(dates2)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [37]:
dates3 = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]

In [38]:
pd.DatetimeIndex(dates3)

DatetimeIndex(['2016-01-10', '1994-06-13', '2003-12-29'], dtype='datetime64[ns]', freq=None)

In [39]:
dtIndex = pd.DatetimeIndex(dates3)

In [40]:
values = [100, 200, 300]

In [41]:
pd.Series(data = values, index = dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

### The `pd.to_datetime()` Method

In [42]:
pd.to_datetime("2001-04-19")

Timestamp('2001-04-19 00:00:00')

In [43]:
pd.to_datetime(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [44]:
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))

Timestamp('2015-01-01 14:35:20')

In [45]:
pd.to_datetime(["2015-01-03","2014/02/08", "2016", "July 4th, 1996"])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [46]:
pd.Series(["2015-01-03","2014/02/08", "2016", "July 4th, 1996"])

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [47]:
times = pd.Series(["2015-01-03","2014/02/08", "2016", "July 4th, 1996"])

In [48]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [49]:
pd.Series(["July 4th, 1996", "10/04/1991", "Hello", "2015-02-31"])

0    July 4th, 1996
1        10/04/1991
2             Hello
3        2015-02-31
dtype: object

In [50]:
dates = pd.Series(["July 4th, 1996", "10/04/1991", "Hello", "2015-02-31"])

In [51]:
# Esse comando dará um erro pois é impossível converter para objetos dates as strings "Hello" e "2015-02-31"
# pd.to_datetime(dates)

In [52]:
pd.to_datetime(dates, errors='coerce')

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [53]:
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305, 1350065705])

DatetimeIndex(['1970-01-01 00:00:01.349720105',
               '1970-01-01 00:00:01.349806505',
               '1970-01-01 00:00:01.349892905',
               '1970-01-01 00:00:01.349979305',
               '1970-01-01 00:00:01.350065705'],
              dtype='datetime64[ns]', freq=None)

In [54]:
# segundos a partir de 1970
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305, 1350065705], unit = 's')

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

### Create Range of Dates with the `pd.date_range()` Method, Part 1

In [55]:
pd.date_range(start = "2016-01-01", end = "2019-01-10", freq = 'D')

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10',
               ...
               '2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10'],
              dtype='datetime64[ns]', length=1106, freq='D')

In [56]:
times = pd.date_range(start = "2016-01-01", end = "2019-01-10", freq = 'D')

In [57]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [58]:
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [59]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [60]:
pd.date_range(start = "2016-01-01", end = "2019-01-10", freq = '1D')

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10',
               ...
               '2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10'],
              dtype='datetime64[ns]', length=1106, freq='D')

In [61]:
pd.date_range(start = "2016-01-01", end = "2019-01-10", freq = '2D')

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09', '2016-01-11', '2016-01-13', '2016-01-15',
               '2016-01-17', '2016-01-19',
               ...
               '2018-12-22', '2018-12-24', '2018-12-26', '2018-12-28',
               '2018-12-30', '2019-01-01', '2019-01-03', '2019-01-05',
               '2019-01-07', '2019-01-09'],
              dtype='datetime64[ns]', length=553, freq='2D')

In [62]:
# B = Business day - exclui os finais de semanas
pd.date_range(start = "2016-01-01", end = "2019-01-10", freq = 'B')

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
               '2016-01-13', '2016-01-14',
               ...
               '2018-12-28', '2018-12-31', '2019-01-01', '2019-01-02',
               '2019-01-03', '2019-01-04', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10'],
              dtype='datetime64[ns]', length=790, freq='B')

In [63]:
# W = Week - 1 dia por semana - início nos domingos
pd.date_range(start = "2016-01-01", end = "2019-01-10", freq = 'W')

DatetimeIndex(['2016-01-03', '2016-01-10', '2016-01-17', '2016-01-24',
               '2016-01-31', '2016-02-07', '2016-02-14', '2016-02-21',
               '2016-02-28', '2016-03-06',
               ...
               '2018-11-04', '2018-11-11', '2018-11-18', '2018-11-25',
               '2018-12-02', '2018-12-09', '2018-12-16', '2018-12-23',
               '2018-12-30', '2019-01-06'],
              dtype='datetime64[ns]', length=158, freq='W-SUN')

In [64]:
# W = Week - 1 dia por semana - início nas sextas
pd.date_range(start = "2016-01-01", end = "2019-01-10", freq = 'W-FRI')

DatetimeIndex(['2016-01-01', '2016-01-08', '2016-01-15', '2016-01-22',
               '2016-01-29', '2016-02-05', '2016-02-12', '2016-02-19',
               '2016-02-26', '2016-03-04',
               ...
               '2018-11-02', '2018-11-09', '2018-11-16', '2018-11-23',
               '2018-11-30', '2018-12-07', '2018-12-14', '2018-12-21',
               '2018-12-28', '2019-01-04'],
              dtype='datetime64[ns]', length=158, freq='W-FRI')

In [65]:
# H = hora
pd.date_range(start = "2016-01-01", end = "2019-01-10", freq = 'H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2019-01-09 15:00:00', '2019-01-09 16:00:00',
               '2019-01-09 17:00:00', '2019-01-09 18:00:00',
               '2019-01-09 19:00:00', '2019-01-09 20:00:00',
               '2019-01-09 21:00:00', '2019-01-09 22:00:00',
               '2019-01-09 23:00:00', '2019-01-10 00:00:00'],
              dtype='datetime64[ns]', length=26521, freq='H')

In [66]:
# 6H - 6 horas
pd.date_range(start = "2016-01-01", end = "2019-01-10", freq = '6H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               ...
               '2019-01-07 18:00:00', '2019-01-08 00:00:00',
               '2019-01-08 06:00:00', '2019-01-08 12:00:00',
               '2019-01-08 18:00:00', '2019-01-09 00:00:00',
               '2019-01-09 06:00:00', '2019-01-09 12:00:00',
               '2019-01-09 18:00:00', '2019-01-10 00:00:00'],
              dtype='datetime64[ns]', length=4421, freq='6H')

In [67]:
# M - finais de meses
pd.date_range(start = "2016-01-01", end = "2019-01-10", freq = 'M')

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31',
               '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31',
               '2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
               '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31',
               '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31'],
              dtype='datetime64[ns]', freq='M')

In [68]:
# MS - início dos meses
pd.date_range(start = "2016-01-01", end = "2019-01-10", freq = 'MS')

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
               '2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01',
               '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01',
               '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01',
               '2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01',
               '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01',
               '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01',
               '2019-01-01'],
              dtype='datetime64[ns]', freq='MS')

In [69]:
# A - finais de anos
pd.date_range(start = "2016-01-01", end = "2019-01-10", freq = 'A')

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31'], dtype='datetime64[ns]', freq='A-DEC')

### Create Range of Dates with the `pd.date_range()` Method, Part 2

In [70]:
pd.date_range(start = "2012-09-09", periods = 25, freq = "D")

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [71]:
len(pd.date_range(start = "2012-09-09", periods = 25, freq = "D"))

25

In [72]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "B")

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12', '2012-10-15', '2012-10-16', '2012-10-17',
               '2012-10-18', '2012-10-19', '2012-10-22', '2012-10-23',
               '2012-10-24', '2012-10-25', '2012-10-26', '2012-10-29',
               '2012-10-30', '2012-10-31', '2012-11-01', '2012-11-02',
               '2012-11-05', '2012-11-06', '2012-11-07', '2012-11-08',
               '2012-11-09', '2012-11-12', '2012-11-13', '2012-11-14',
               '2012-11-15', '2012-11-16'],
              dtype='datetime64[ns]', freq='B')

In [73]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "W")

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25',
               '2012-12-02', '2012-12-09', '2012-12-16', '2012-12-23',
               '2012-12-30', '2013-01-06', '2013-01-13', '2013-01-20',
               '2013-01-27', '2013-02-03', '2013-02-10', '2013-02-17',
               '2013-02-24', '2013-03-03', '2013-03-10', '2013-03-17',
               '2013-03-24', '2013-03-31', '2013-04-07', '2013-04-14',
               '2013-04-21', '2013-04-28', '2013-05-05', '2013-05-12',
               '2013-05-19', '2013-05-26', '2013-06-02', '2013-06-09',
               '2013-06-16', '2013-06-23', '2013-06-30', '2013-07-07',
               '2013-07-14', '2013-07-21', '2013-07-28', '2013-08-04',
               '2013-08-11', '2013-08-18'],
              dtype='datetime64[ns]', freq='W-SUN')

In [74]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "W-TUE")

DatetimeIndex(['2012-09-11', '2012-09-18', '2012-09-25', '2012-10-02',
               '2012-10-09', '2012-10-16', '2012-10-23', '2012-10-30',
               '2012-11-06', '2012-11-13', '2012-11-20', '2012-11-27',
               '2012-12-04', '2012-12-11', '2012-12-18', '2012-12-25',
               '2013-01-01', '2013-01-08', '2013-01-15', '2013-01-22',
               '2013-01-29', '2013-02-05', '2013-02-12', '2013-02-19',
               '2013-02-26', '2013-03-05', '2013-03-12', '2013-03-19',
               '2013-03-26', '2013-04-02', '2013-04-09', '2013-04-16',
               '2013-04-23', '2013-04-30', '2013-05-07', '2013-05-14',
               '2013-05-21', '2013-05-28', '2013-06-04', '2013-06-11',
               '2013-06-18', '2013-06-25', '2013-07-02', '2013-07-09',
               '2013-07-16', '2013-07-23', '2013-07-30', '2013-08-06',
               '2013-08-13', '2013-08-20'],
              dtype='datetime64[ns]', freq='W-TUE')

In [75]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "MS")

DatetimeIndex(['2012-10-01', '2012-11-01', '2012-12-01', '2013-01-01',
               '2013-02-01', '2013-03-01', '2013-04-01', '2013-05-01',
               '2013-06-01', '2013-07-01', '2013-08-01', '2013-09-01',
               '2013-10-01', '2013-11-01', '2013-12-01', '2014-01-01',
               '2014-02-01', '2014-03-01', '2014-04-01', '2014-05-01',
               '2014-06-01', '2014-07-01', '2014-08-01', '2014-09-01',
               '2014-10-01', '2014-11-01', '2014-12-01', '2015-01-01',
               '2015-02-01', '2015-03-01', '2015-04-01', '2015-05-01',
               '2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01',
               '2015-10-01', '2015-11-01', '2015-12-01', '2016-01-01',
               '2016-02-01', '2016-03-01', '2016-04-01', '2016-05-01',
               '2016-06-01', '2016-07-01', '2016-08-01', '2016-09-01',
               '2016-10-01', '2016-11-01'],
              dtype='datetime64[ns]', freq='MS')

In [76]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "A")

DatetimeIndex(['2012-12-31', '2013-12-31', '2014-12-31', '2015-12-31',
               '2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31', '2050-12-31', '2051-12-31',
               '2052-12-31', '2053-12-31', '2054-12-31', '2055-12-31',
               '2056-12-31', '2057-12-31', '2058-12-31', '2059-12-31',
               '2060-12-31', '2061-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [77]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 01:00:00',
               '2012-09-09 02:00:00', '2012-09-09 03:00:00',
               '2012-09-09 04:00:00', '2012-09-09 05:00:00',
               '2012-09-09 06:00:00', '2012-09-09 07:00:00',
               '2012-09-09 08:00:00', '2012-09-09 09:00:00',
               '2012-09-09 10:00:00', '2012-09-09 11:00:00',
               '2012-09-09 12:00:00', '2012-09-09 13:00:00',
               '2012-09-09 14:00:00', '2012-09-09 15:00:00',
               '2012-09-09 16:00:00', '2012-09-09 17:00:00',
               '2012-09-09 18:00:00', '2012-09-09 19:00:00',
               '2012-09-09 20:00:00', '2012-09-09 21:00:00',
               '2012-09-09 22:00:00', '2012-09-09 23:00:00',
               '2012-09-10 00:00:00', '2012-09-10 01:00:00',
               '2012-09-10 02:00:00', '2012-09-10 03:00:00',
               '2012-09-10 04:00:00', '2012-09-10 05:00:00',
               '2012-09-10 06:00:00', '2012-09-10 07:00:00',
               '2012-09-10 08:00:00', '2012-09-10 09:00:00',
               '2012-09-10 10:00:00', '2012-09-10 11:00:00',
               '2012-09-10 12:00:00', '2012-09-10 13:00:00',
               '2012-09-10 14:00:00', '2012-09-10 15:00:00',
               '2012-09-10 16:00:00', '2012-09-10 17:00:00',
               '2012-09-10 18:00:00', '2012-09-10 19:00:00',
               '2012-09-10 20:00:00', '2012-09-10 21:00:00',
               '2012-09-10 22:00:00', '2012-09-10 23:00:00',
               '2012-09-11 00:00:00', '2012-09-11 01:00:00'],
              dtype='datetime64[ns]', freq='H')

In [78]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "6H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00', '2012-09-15 06:00:00',
               '2012-09-15 12:00:00', '2012-09-15 18:00:00',
               '2012-09-16 00:00:00', '2012-09-16 06:00:00',
               '2012-09-16 12:00:00', '2012-09-16 18:00:00',
               '2012-09-17 00:00:00', '2012-09-17 06:00:00',
               '2012-09-17 12:00:00', '2012-09-17 18:00:00',
               '2012-09-18 00:00:00', '2012-09-18 06:00:00',
               '2012-09-18 12:00:00', '2012-09-18 18:00:00',
               '2012-09-19 00:00:00', '2012-09-19 06:00:00',
               '2012-09-19 12:00:00', '2012-09-19 18:00:00',
               '2012-09-20 00:00:00', '2012-09-20 06:00:00',
               '2012-09-20 12:00:00', '2012-09-20 18:00:00',
               '2012-09-21 00:00:00', '2012-09-21 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

### Create Range of Dates with the `pd.date_range()` Method, Part 3

In [79]:
pd.date_range(end = "1999-12-31", periods = 20, freq = "D")

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [80]:
pd.date_range(end = "1999-12-31", periods = 20, freq = "B")

DatetimeIndex(['1999-12-06', '1999-12-07', '1999-12-08', '1999-12-09',
               '1999-12-10', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-20', '1999-12-21',
               '1999-12-22', '1999-12-23', '1999-12-24', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='B')

In [81]:
pd.date_range(end = "1999-12-31", periods = 40, freq = "W")

DatetimeIndex(['1999-03-28', '1999-04-04', '1999-04-11', '1999-04-18',
               '1999-04-25', '1999-05-02', '1999-05-09', '1999-05-16',
               '1999-05-23', '1999-05-30', '1999-06-06', '1999-06-13',
               '1999-06-20', '1999-06-27', '1999-07-04', '1999-07-11',
               '1999-07-18', '1999-07-25', '1999-08-01', '1999-08-08',
               '1999-08-15', '1999-08-22', '1999-08-29', '1999-09-05',
               '1999-09-12', '1999-09-19', '1999-09-26', '1999-10-03',
               '1999-10-10', '1999-10-17', '1999-10-24', '1999-10-31',
               '1999-11-07', '1999-11-14', '1999-11-21', '1999-11-28',
               '1999-12-05', '1999-12-12', '1999-12-19', '1999-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')

In [82]:
pd.date_range(end = "1999-12-31", periods = 40, freq = "M")

DatetimeIndex(['1996-09-30', '1996-10-31', '1996-11-30', '1996-12-31',
               '1997-01-31', '1997-02-28', '1997-03-31', '1997-04-30',
               '1997-05-31', '1997-06-30', '1997-07-31', '1997-08-31',
               '1997-09-30', '1997-10-31', '1997-11-30', '1997-12-31',
               '1998-01-31', '1998-02-28', '1998-03-31', '1998-04-30',
               '1998-05-31', '1998-06-30', '1998-07-31', '1998-08-31',
               '1998-09-30', '1998-10-31', '1998-11-30', '1998-12-31',
               '1999-01-31', '1999-02-28', '1999-03-31', '1999-04-30',
               '1999-05-31', '1999-06-30', '1999-07-31', '1999-08-31',
               '1999-09-30', '1999-10-31', '1999-11-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='M')

In [83]:
pd.date_range(end = "1999-12-31", periods = 53, freq = "MS")

DatetimeIndex(['1995-08-01', '1995-09-01', '1995-10-01', '1995-11-01',
               '1995-12-01', '1996-01-01', '1996-02-01', '1996-03-01',
               '1996-04-01', '1996-05-01', '1996-06-01', '1996-07-01',
               '1996-08-01', '1996-09-01', '1996-10-01', '1996-11-01',
               '1996-12-01', '1997-01-01', '1997-02-01', '1997-03-01',
               '1997-04-01', '1997-05-01', '1997-06-01', '1997-07-01',
               '1997-08-01', '1997-09-01', '1997-10-01', '1997-11-01',
               '1997-12-01', '1998-01-01', '1998-02-01', '1998-03-01',
               '1998-04-01', '1998-05-01', '1998-06-01', '1998-07-01',
               '1998-08-01', '1998-09-01', '1998-10-01', '1998-11-01',
               '1998-12-01', '1999-01-01', '1999-02-01', '1999-03-01',
               '1999-04-01', '1999-05-01', '1999-06-01', '1999-07-01',
               '1999-08-01', '1999-09-01', '1999-10-01', '1999-11-01',
               '1999-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [84]:
pd.date_range(end = "1999-12-31", periods = 100, freq = "7h")

DatetimeIndex(['1999-12-02 03:00:00', '1999-12-02 10:00:00',
               '1999-12-02 17:00:00', '1999-12-03 00:00:00',
               '1999-12-03 07:00:00', '1999-12-03 14:00:00',
               '1999-12-03 21:00:00', '1999-12-04 04:00:00',
               '1999-12-04 11:00:00', '1999-12-04 18:00:00',
               '1999-12-05 01:00:00', '1999-12-05 08:00:00',
               '1999-12-05 15:00:00', '1999-12-05 22:00:00',
               '1999-12-06 05:00:00', '1999-12-06 12:00:00',
               '1999-12-06 19:00:00', '1999-12-07 02:00:00',
               '1999-12-07 09:00:00', '1999-12-07 16:00:00',
               '1999-12-07 23:00:00', '1999-12-08 06:00:00',
               '1999-12-08 13:00:00', '1999-12-08 20:00:00',
               '1999-12-09 03:00:00', '1999-12-09 10:00:00',
               '1999-12-09 17:00:00', '1999-12-10 00:00:00',
               '1999-12-10 07:00:00', '1999-12-10 14:00:00',
               '1999-12-10 21:00:00', '1999-12-11 04:00:00',
               '1999-12-11 11:00:00', '1999-12-11 18:00:00',
               '1999-12-12 01:00:00', '1999-12-12 08:00:00',
               '1999-12-12 15:00:00', '1999-12-12 22:00:00',
               '1999-12-13 05:00:00', '1999-12-13 12:00:00',
               '1999-12-13 19:00:00', '1999-12-14 02:00:00',
               '1999-12-14 09:00:00', '1999-12-14 16:00:00',
               '1999-12-14 23:00:00', '1999-12-15 06:00:00',
               '1999-12-15 13:00:00', '1999-12-15 20:00:00',
               '1999-12-16 03:00:00', '1999-12-16 10:00:00',
               '1999-12-16 17:00:00', '1999-12-17 00:00:00',
               '1999-12-17 07:00:00', '1999-12-17 14:00:00',
               '1999-12-17 21:00:00', '1999-12-18 04:00:00',
               '1999-12-18 11:00:00', '1999-12-18 18:00:00',
               '1999-12-19 01:00:00', '1999-12-19 08:00:00',
               '1999-12-19 15:00:00', '1999-12-19 22:00:00',
               '1999-12-20 05:00:00', '1999-12-20 12:00:00',
               '1999-12-20 19:00:00', '1999-12-21 02:00:00',
               '1999-12-21 09:00:00', '1999-12-21 16:00:00',
               '1999-12-21 23:00:00', '1999-12-22 06:00:00',
               '1999-12-22 13:00:00', '1999-12-22 20:00:00',
               '1999-12-23 03:00:00', '1999-12-23 10:00:00',
               '1999-12-23 17:00:00', '1999-12-24 00:00:00',
               '1999-12-24 07:00:00', '1999-12-24 14:00:00',
               '1999-12-24 21:00:00', '1999-12-25 04:00:00',
               '1999-12-25 11:00:00', '1999-12-25 18:00:00',
               '1999-12-26 01:00:00', '1999-12-26 08:00:00',
               '1999-12-26 15:00:00', '1999-12-26 22:00:00',
               '1999-12-27 05:00:00', '1999-12-27 12:00:00',
               '1999-12-27 19:00:00', '1999-12-28 02:00:00',
               '1999-12-28 09:00:00', '1999-12-28 16:00:00',
               '1999-12-28 23:00:00', '1999-12-29 06:00:00',
               '1999-12-29 13:00:00', '1999-12-29 20:00:00',
               '1999-12-30 03:00:00', '1999-12-30 10:00:00',
               '1999-12-30 17:00:00', '1999-12-31 00:00:00'],
              dtype='datetime64[ns]', freq='7H')

### The `.dt` Accessor

In [85]:
pd.date_range(start = "2000-01-01", end = "2010-12-31", freq = "24D")

DatetimeIndex(['2000-01-01', '2000-01-25', '2000-02-18', '2000-03-13',
               '2000-04-06', '2000-04-30', '2000-05-24', '2000-06-17',
               '2000-07-11', '2000-08-04',
               ...
               '2010-05-20', '2010-06-13', '2010-07-07', '2010-07-31',
               '2010-08-24', '2010-09-17', '2010-10-11', '2010-11-04',
               '2010-11-28', '2010-12-22'],
              dtype='datetime64[ns]', length=168, freq='24D')

In [86]:
bunch_of_dates = pd.date_range(start = "2000-01-01", end = "2010-12-31", freq = "24D")

In [87]:
pd.Series(bunch_of_dates)

0     2000-01-01
1     2000-01-25
2     2000-02-18
3     2000-03-13
4     2000-04-06
         ...
163   2010-09-17
164   2010-10-11
165   2010-11-04
166   2010-11-28
167   2010-12-22
Length: 168, dtype: datetime64[ns]

In [88]:
s = pd.Series(bunch_of_dates)
s

0     2000-01-01
1     2000-01-25
2     2000-02-18
3     2000-03-13
4     2000-04-06
         ...
163   2010-09-17
164   2010-10-11
165   2010-11-04
166   2010-11-28
167   2010-12-22
Length: 168, dtype: datetime64[ns]

In [89]:
# ERRO
# s.day

In [90]:
s.dt.day

0       1
1      25
2      18
3      13
4       6
       ..
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int64

In [91]:
s.dt.month

0       1
1       1
2       2
3       3
4       4
       ..
163     9
164    10
165    11
166    11
167    12
Length: 168, dtype: int64

In [92]:
s.dt.weekday

0      5
1      1
2      4
3      0
4      3
      ..
163    4
164    0
165    3
166    6
167    2
Length: 168, dtype: int64

In [93]:
s.dt.is_quarter_start

0       True
1      False
2      False
3      False
4      False
       ...
163    False
164    False
165    False
166    False
167    False
Length: 168, dtype: bool

In [94]:
mask = s.dt.is_quarter_start
mask

0       True
1      False
2      False
3      False
4      False
       ...
163    False
164    False
165    False
166    False
167    False
Length: 168, dtype: bool

In [95]:
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [96]:
mask = s.dt.is_month_end
s[mask]

5     2000-04-30
57    2003-09-30
71    2004-08-31
90    2005-11-30
123   2008-01-31
161   2010-07-31
dtype: datetime64[ns]

### Import Financial Data Set with `pandas_datareader` Library

In [97]:
import pandas as pd
import datetime as dt

In [98]:
from pandas_datareader import data
from pandas_datareader import get_data_yahoo

In [99]:
# TypeError: string indices must be integers
# data.DataReader(name = "MSFT", data_source = "yahoo", start = "2010-01-01", end = "2010-12-31")

In [100]:
# TypeError: string indices must be integers
# data.DataReader('GE', 'yahoo', start='2019-09-10', end='2019-10-09')

In [101]:
# TypeError: string indices must be integers
# end = "2022-12-15"
# start = "2022-12-15"
# TATAELXSI = "TATAELXSI.NS"
# data = get_data_yahoo(symbols="TATAELXSI.NS", start="2010-01-01", end="2010-12-31")

In [102]:
# https://stackoverflow.com/questions/74832296/typeerror-string-indices-must-be-integers-when-getting-data-of-a-stock-from-y
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()
# y_symbols = ['SCHAND.NS', 'TATAPOWER.NS', 'ITC.NS']
y_symbols = ['MSFT']
from datetime import datetime
startdate = datetime(2010,1,1)
enddate = datetime(2020,12,31)
stocks = pdr.get_data_yahoo(y_symbols, start=startdate, end=enddate)

[*********************100%***********************]  1 of 1 completed

In [103]:
stocks

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,30.620001,31.100000,30.590000,30.950001,23.683073,38409100
2010-01-05,30.850000,31.100000,30.639999,30.959999,23.690720,49749600
2010-01-06,30.879999,31.080000,30.520000,30.770000,23.545328,58182400
2010-01-07,30.629999,30.700001,30.190001,30.450001,23.300468,50559700
2010-01-08,30.280001,30.879999,30.240000,30.660000,23.461153,51197400
...,...,...,...,...,...,...
2020-12-23,223.110001,223.559998,220.800003,221.020004,217.148026,18699600
2020-12-24,221.419998,223.610001,221.199997,222.750000,218.847702,10550600
2020-12-28,224.449997,226.029999,223.020004,224.960007,221.019012,17933500
2020-12-29,226.309998,227.179993,223.580002,224.149994,220.223206,17403200
2020-12-30,225.229996,225.630005,221.470001,221.679993,217.796463,20272300

In [104]:
stocks.values

array([[3.06200008e+01, 3.11000004e+01, 3.05900002e+01, 3.09500008e+01,
        2.36830730e+01, 3.84091000e+07],
       [3.08500004e+01, 3.11000004e+01, 3.06399994e+01, 3.09599991e+01,
        2.36907196e+01, 4.97496000e+07],
       [3.08799992e+01, 3.10799999e+01, 3.05200005e+01, 3.07700005e+01,
        2.35453281e+01, 5.81824000e+07],
       ...,
       [2.24449997e+02, 2.26029999e+02, 2.23020004e+02, 2.24960007e+02,
        2.21019012e+02, 1.79335000e+07],
       [2.26309998e+02, 2.27179993e+02, 2.23580002e+02, 2.24149994e+02,
        2.20223206e+02, 1.74032000e+07],
       [2.25229996e+02, 2.25630005e+02, 2.21470001e+02, 2.21679993e+02,
        2.17796463e+02, 2.02723000e+07]])

In [105]:
stocks.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [106]:
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2020-12-16', '2020-12-17', '2020-12-18', '2020-12-21',
               '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-28',
               '2020-12-29', '2020-12-30'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [107]:
stocks.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2020-12-16', '2020-12-17', '2020-12-18', '2020-12-21',
                '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-28',
                '2020-12-29', '2020-12-30'],
               dtype='datetime64[ns]', name='Date', length=2768, freq=None),
 Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')]

### Selecting Rows from a `DataFrame` with a `DateTimeIndex`

In [108]:
# https://stackoverflow.com/questions/74832296/typeerror-string-indices-must-be-integers-when-getting-data-of-a-stock-from-y
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()
# y_symbols = ['SCHAND.NS', 'TATAPOWER.NS', 'ITC.NS']
y_symbols = ['MSFT']
from datetime import datetime
startdate = datetime(2010,1,1)
enddate = datetime(2020,12,31)
stocks = pdr.get_data_yahoo(y_symbols, start=startdate, end=enddate)
stocks

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,30.620001,31.100000,30.590000,30.950001,23.683067,38409100
2010-01-05,30.850000,31.100000,30.639999,30.959999,23.690723,49749600
2010-01-06,30.879999,31.080000,30.520000,30.770000,23.545334,58182400
2010-01-07,30.629999,30.700001,30.190001,30.450001,23.300467,50559700
2010-01-08,30.280001,30.879999,30.240000,30.660000,23.461153,51197400
...,...,...,...,...,...,...
2020-12-23,223.110001,223.559998,220.800003,221.020004,217.148026,18699600
2020-12-24,221.419998,223.610001,221.199997,222.750000,218.847702,10550600
2020-12-28,224.449997,226.029999,223.020004,224.960007,221.019012,17933500
2020-12-29,226.309998,227.179993,223.580002,224.149994,220.223206,17403200
2020-12-30,225.229996,225.630005,221.470001,221.679993,217.796432,20272300

In [109]:
stocks.loc["2010-01-04"]

Open         3.062000e+01
High         3.110000e+01
Low          3.059000e+01
Close        3.095000e+01
Adj Close    2.368307e+01
Volume       3.840910e+07
Name: 2010-01-04 00:00:00, dtype: float64

In [110]:
stocks.loc[pd.Timestamp("2010-01-04")]

Open         3.062000e+01
High         3.110000e+01
Low          3.059000e+01
Close        3.095000e+01
Adj Close    2.368307e+01
Volume       3.840910e+07
Name: 2010-01-04 00:00:00, dtype: float64

In [111]:
stocks.iloc[0]

Open         3.062000e+01
High         3.110000e+01
Low          3.059000e+01
Close        3.095000e+01
Adj Close    2.368307e+01
Volume       3.840910e+07
Name: 2010-01-04 00:00:00, dtype: float64

In [112]:
stocks.iloc[500]

Open         2.596000e+01
High         2.614000e+01
Low          2.593000e+01
Close        2.604000e+01
Adj Close    2.088132e+01
Volume       2.128720e+07
Name: 2011-12-27 00:00:00, dtype: float64

In [113]:
stocks.iloc[-1]

Open         2.252300e+02
High         2.256300e+02
Low          2.214700e+02
Close        2.216800e+02
Adj Close    2.177964e+02
Volume       2.027230e+07
Name: 2020-12-30 00:00:00, dtype: float64

In [114]:
# Datas que não existem ou índice que não existem o Pandas lança um erro
# stocks.loc["2030-01-04"]
# stocks.iloc[10000]

In [115]:
stocks.loc[["2010-01-04","2010-01-05"] ]

                 Open  High        Low      Close  Adj Close    Volume
Date
2010-01-04  30.620001  31.1  30.590000  30.950001  23.683067  38409100
2010-01-05  30.850000  31.1  30.639999  30.959999  23.690723  49749600

In [116]:
stocks.loc[[pd.Timestamp("2010-01-04"),pd.Timestamp("2010-01-05")] ]

                 Open  High        Low      Close  Adj Close    Volume
Date
2010-01-04  30.620001  31.1  30.590000  30.950001  23.683067  38409100
2010-01-05  30.850000  31.1  30.639999  30.959999  23.690723  49749600

In [117]:
# Dá erro pois 2030-01-04 não está no df
# stocks.loc[[pd.Timestamp("2010-01-04"),pd.Timestamp("2010-01-05"), pd.Timestamp("2030-01-04")] ]

In [118]:
stocks.iloc[[10, 15, 30]]

                 Open   High        Low  Close  Adj Close    Volume
Date
2010-01-19  30.750000  31.24  30.680000  31.10  23.797850  46575700
2010-01-26  29.200001  29.85  29.090000  29.50  22.573528  66639900
2010-02-17  28.530001  28.65  28.360001  28.59  21.979485  45882900

In [119]:
# Dá erro com index position que não existe
# stocks.iloc[[10, 15, 10000]]

In [120]:
stocks.loc["2013-10-01":"2013-10-07"]

                 Open       High        Low      Close  Adj Close    Volume
Date
2013-10-01  33.349998  33.610001  33.299999  33.580002  28.312265  36718700
2013-10-02  33.360001  34.029999  33.290001  33.919998  28.598921  46946800
2013-10-03  33.880001  34.000000  33.419998  33.860001  28.548340  38703800
2013-10-04  33.689999  33.990002  33.619999  33.880001  28.565199  33008100
2013-10-07  33.599998  33.709999  33.200001  33.299999  28.076185  35069300

In [121]:
stocks.truncate(before = "2013-10-01", after = "2013-10-07")

                 Open       High        Low      Close  Adj Close    Volume
Date
2013-10-01  33.349998  33.610001  33.299999  33.580002  28.312265  36718700
2013-10-02  33.360001  34.029999  33.290001  33.919998  28.598921  46946800
2013-10-03  33.880001  34.000000  33.419998  33.860001  28.548340  38703800
2013-10-04  33.689999  33.990002  33.619999  33.880001  28.565199  33008100
2013-10-07  33.599998  33.709999  33.200001  33.299999  28.076185  35069300

In [122]:
stocks.iloc[1000:1005]

                 Open       High        Low      Close  Adj Close    Volume
Date
2013-12-23  36.810001  36.889999  36.549999  36.619999  31.109531  25128700
2013-12-24  36.720001  37.169998  36.639999  37.080002  31.500298  14243000
2013-12-26  37.200001  37.490002  37.169998  37.439999  31.806124  17612800
2013-12-27  37.580002  37.619999  37.169998  37.290001  31.678719  14563000
2013-12-30  37.220001  37.380001  36.900002  37.290001  31.678719  16290500

In [123]:
pd.date_range(start = "1991-04-12", end = "2022-12-22", freq = pd.DateOffset(years = 1))

DatetimeIndex(['1991-04-12', '1992-04-12', '1993-04-12', '1994-04-12',
               '1995-04-12', '1996-04-12', '1997-04-12', '1998-04-12',
               '1999-04-12', '2000-04-12', '2001-04-12', '2002-04-12',
               '2003-04-12', '2004-04-12', '2005-04-12', '2006-04-12',
               '2007-04-12', '2008-04-12', '2009-04-12', '2010-04-12',
               '2011-04-12', '2012-04-12', '2013-04-12', '2014-04-12',
               '2015-04-12', '2016-04-12', '2017-04-12', '2018-04-12',
               '2019-04-12', '2020-04-12', '2021-04-12', '2022-04-12'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [124]:
birthdays = pd.date_range(start = "1991-04-12", end = "2022-12-22", freq = pd.DateOffset(years = 1))

In [125]:
stocks.index.isin(birthdays)

array([False, False, False, ..., False, False, False])

In [126]:
birthdays_stocks = stocks.index.isin(birthdays)

In [127]:
stocks[birthdays_stocks]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-04-12,30.250000,30.490000,30.209999,30.320000,23.309483,37068800
2011-04-12,25.830000,25.850000,25.549999,25.639999,20.146847,36920400
2012-04-12,30.480000,31.040001,30.420000,30.980000,25.006222,38304000
2013-04-12,28.850000,29.020000,28.660000,28.790001,23.935984,62886300
2016-04-12,54.369999,54.779999,53.759998,54.650002,49.347992,24944300
2017-04-12,65.419998,65.510002,65.110001,65.230003,60.450680,17108500
2018-04-12,92.430000,94.160004,92.430000,93.580002,88.539642,26758900
2019-04-12,120.639999,120.980003,120.370003,120.949997,116.367020,19745100

In [128]:
stocks.loc[birthdays_stocks]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-04-12,30.250000,30.490000,30.209999,30.320000,23.309483,37068800
2011-04-12,25.830000,25.850000,25.549999,25.639999,20.146847,36920400
2012-04-12,30.480000,31.040001,30.420000,30.980000,25.006222,38304000
2013-04-12,28.850000,29.020000,28.660000,28.790001,23.935984,62886300
2016-04-12,54.369999,54.779999,53.759998,54.650002,49.347992,24944300
2017-04-12,65.419998,65.510002,65.110001,65.230003,60.450680,17108500
2018-04-12,92.430000,94.160004,92.430000,93.580002,88.539642,26758900
2019-04-12,120.639999,120.980003,120.370003,120.949997,116.367020,19745100

### Timestamp Object Attributes and Methods

In [129]:
# https://stackoverflow.com/questions/74832296/typeerror-string-indices-must-be-integers-when-getting-data-of-a-stock-from-y
import pandas as pd
import datetime as dt
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()
# y_symbols = ['SCHAND.NS', 'TATAPOWER.NS', 'ITC.NS']
y_symbols = ['MSFT']
from datetime import datetime
startdate = datetime(2010,1,1)
enddate = datetime(2020,12,31)
stocks = pdr.get_data_yahoo(y_symbols, start=startdate, end=enddate)
stocks

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,30.620001,31.100000,30.590000,30.950001,23.683062,38409100
2010-01-05,30.850000,31.100000,30.639999,30.959999,23.690722,49749600
2010-01-06,30.879999,31.080000,30.520000,30.770000,23.545332,58182400
2010-01-07,30.629999,30.700001,30.190001,30.450001,23.300467,50559700
2010-01-08,30.280001,30.879999,30.240000,30.660000,23.461161,51197400
...,...,...,...,...,...,...
2020-12-23,223.110001,223.559998,220.800003,221.020004,217.148041,18699600
2020-12-24,221.419998,223.610001,221.199997,222.750000,218.847717,10550600
2020-12-28,224.449997,226.029999,223.020004,224.960007,221.018997,17933500
2020-12-29,226.309998,227.179993,223.580002,224.149994,220.223206,17403200
2020-12-30,225.229996,225.630005,221.470001,221.679993,217.796463,20272300

In [130]:
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2020-12-16', '2020-12-17', '2020-12-18', '2020-12-21',
               '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-28',
               '2020-12-29', '2020-12-30'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [131]:
stocks.index[500]

Timestamp('2011-12-27 00:00:00')

In [132]:
type(stocks.index[500])

pandas._libs.tslibs.timestamps.Timestamp

In [133]:
someday = stocks.index[500]
someday

Timestamp('2011-12-27 00:00:00')

In [134]:
someday.month

12

In [135]:
someday.week

52

In [136]:
someday.is_month_start

False

In [137]:
someday.is_month_end

False

In [138]:
someday.is_quarter_start

False

In [139]:
someday.is_quarter_end

False

In [140]:
someday.day

27

In [141]:
someday.month_name()

'December'

In [142]:
someday.day_name()

'Tuesday'

In [143]:
stocks.index.day_name()

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       ...
       'Wednesday', 'Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday',
       'Thursday', 'Monday', 'Tuesday', 'Wednesday'],
      dtype='object', name='Date', length=2768)

In [144]:
stocks.insert(0, "Day of Week", stocks.index.day_name())
stocks

,Day of Week,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2010-01-04,Monday,30.620001,31.100000,30.590000,30.950001,23.683062,38409100
2010-01-05,Tuesday,30.850000,31.100000,30.639999,30.959999,23.690722,49749600
2010-01-06,Wednesday,30.879999,31.080000,30.520000,30.770000,23.545332,58182400
2010-01-07,Thursday,30.629999,30.700001,30.190001,30.450001,23.300467,50559700
2010-01-08,Friday,30.280001,30.879999,30.240000,30.660000,23.461161,51197400
...,...,...,...,...,...,...,...
2020-12-23,Wednesday,223.110001,223.559998,220.800003,221.020004,217.148041,18699600
2020-12-24,Thursday,221.419998,223.610001,221.199997,222.750000,218.847717,10550600
2020-12-28,Monday,224.449997,226.029999,223.020004,224.960007,221.018997,17933500
2020-12-29,Tuesday,226.309998,227.179993,223.580002,224.149994,220.223206,17403200
2020-12-30,Wednesday,225.229996,225.630005,221.470001,221.679993,217.796463,20272300

In [145]:
stocks.insert(1, "Is Start of Month", stocks.index.is_month_start)
stocks

,Day of Week,Is Start of Month,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,
2010-01-04,Monday,False,30.620001,31.100000,30.590000,30.950001,23.683062,38409100
2010-01-05,Tuesday,False,30.850000,31.100000,30.639999,30.959999,23.690722,49749600
2010-01-06,Wednesday,False,30.879999,31.080000,30.520000,30.770000,23.545332,58182400
2010-01-07,Thursday,False,30.629999,30.700001,30.190001,30.450001,23.300467,50559700
2010-01-08,Friday,False,30.280001,30.879999,30.240000,30.660000,23.461161,51197400
...,...,...,...,...,...,...,...,...
2020-12-23,Wednesday,False,223.110001,223.559998,220.800003,221.020004,217.148041,18699600
2020-12-24,Thursday,False,221.419998,223.610001,221.199997,222.750000,218.847717,10550600
2020-12-28,Monday,False,224.449997,226.029999,223.020004,224.960007,221.018997,17933500
2020-12-29,Tuesday,False,226.309998,227.179993,223.580002,224.149994,220.223206,17403200
2020-12-30,Wednesday,False,225.229996,225.630005,221.470001,221.679993,217.796463,20272300

In [146]:
stocks["Is Start of Month"]

Date
2010-01-04    False
2010-01-05    False
2010-01-06    False
2010-01-07    False
2010-01-08    False
              ...
2020-12-23    False
2020-12-24    False
2020-12-28    False
2020-12-29    False
2020-12-30    False
Name: Is Start of Month, Length: 2768, dtype: bool

In [147]:
stocks[stocks["Is Start of Month"]]

,Day of Week,Is Start of Month,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,
2010-02-01,Monday,True,28.389999,28.480000,27.920000,28.410000,21.739449,85931100
2010-03-01,Monday,True,28.770000,29.049999,28.530001,29.020000,22.310068,43805400
2010-04-01,Thursday,True,29.350000,29.540001,28.620001,29.160000,22.417704,74768100
2010-06-01,Tuesday,True,25.530001,26.309999,25.520000,25.889999,19.993584,76152400
2010-07-01,Thursday,True,23.090000,23.320000,22.730000,23.160000,17.885342,92239400
...,...,...,...,...,...,...,...,...
2020-06-01,Monday,True,182.539993,183.000000,181.460007,182.830002,178.725983,22622400
2020-07-01,Wednesday,True,203.139999,206.350006,201.770004,204.699997,200.105072,32061200
2020-09-01,Tuesday,True,225.509995,227.449997,224.429993,227.270004,222.705505,25725500
2020-10-01,Thursday,True,213.490005,213.990005,211.320007,212.460007,208.192932,27158400
2020-12-01,Tuesday,True,214.509995,217.320007,213.350006,216.210007,212.422302,30904500

### The `pd.DateOffset` Object

In [148]:
# https://stackoverflow.com/questions/74832296/typeerror-string-indices-must-be-integers-when-getting-data-of-a-stock-from-y
import pandas as pd
import datetime as dt
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()
# y_symbols = ['SCHAND.NS', 'TATAPOWER.NS', 'ITC.NS']
y_symbols = ['MSFT']
from datetime import datetime
startdate = datetime(2010,1,1)
enddate = datetime(2020,12,31)
stocks = pdr.get_data_yahoo(y_symbols, start=startdate, end=enddate)
stocks

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,30.620001,31.100000,30.590000,30.950001,23.683062,38409100
2010-01-05,30.850000,31.100000,30.639999,30.959999,23.690722,49749600
2010-01-06,30.879999,31.080000,30.520000,30.770000,23.545332,58182400
2010-01-07,30.629999,30.700001,30.190001,30.450001,23.300467,50559700
2010-01-08,30.280001,30.879999,30.240000,30.660000,23.461161,51197400
...,...,...,...,...,...,...
2020-12-23,223.110001,223.559998,220.800003,221.020004,217.148041,18699600
2020-12-24,221.419998,223.610001,221.199997,222.750000,218.847717,10550600
2020-12-28,224.449997,226.029999,223.020004,224.960007,221.018997,17933500
2020-12-29,226.309998,227.179993,223.580002,224.149994,220.223206,17403200
2020-12-30,225.229996,225.630005,221.470001,221.679993,217.796463,20272300

In [149]:
stocks["High"] + 5

Date
2010-01-04     36.100000
2010-01-05     36.100000
2010-01-06     36.080000
2010-01-07     35.700001
2010-01-08     35.879999
                 ...
2020-12-23    228.559998
2020-12-24    228.610001
2020-12-28    231.029999
2020-12-29    232.179993
2020-12-30    230.630005
Name: High, Length: 2768, dtype: float64

In [150]:
# Não funciona com datas
# stocks.index + 5

In [151]:
stocks.index + pd.DateOffset(days = 5)

DatetimeIndex(['2010-01-09', '2010-01-10', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-16', '2010-01-17', '2010-01-18',
               '2010-01-19', '2010-01-20',
               ...
               '2020-12-21', '2020-12-22', '2020-12-23', '2020-12-26',
               '2020-12-27', '2020-12-28', '2020-12-29', '2021-01-02',
               '2021-01-03', '2021-01-04'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [152]:
stocks.index + pd.DateOffset(days = -5)

DatetimeIndex(['2009-12-30', '2009-12-31', '2010-01-01', '2010-01-02',
               '2010-01-03', '2010-01-06', '2010-01-07', '2010-01-08',
               '2010-01-09', '2010-01-10',
               ...
               '2020-12-11', '2020-12-12', '2020-12-13', '2020-12-16',
               '2020-12-17', '2020-12-18', '2020-12-19', '2020-12-23',
               '2020-12-24', '2020-12-25'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [153]:
stocks.index = stocks.index + pd.DateOffset(days = -5)

In [154]:
stocks.index

DatetimeIndex(['2009-12-30', '2009-12-31', '2010-01-01', '2010-01-02',
               '2010-01-03', '2010-01-06', '2010-01-07', '2010-01-08',
               '2010-01-09', '2010-01-10',
               ...
               '2020-12-11', '2020-12-12', '2020-12-13', '2020-12-16',
               '2020-12-17', '2020-12-18', '2020-12-19', '2020-12-23',
               '2020-12-24', '2020-12-25'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [155]:
stocks.index + pd.DateOffset(weeks = 2)

DatetimeIndex(['2010-01-13', '2010-01-14', '2010-01-15', '2010-01-16',
               '2010-01-17', '2010-01-20', '2010-01-21', '2010-01-22',
               '2010-01-23', '2010-01-24',
               ...
               '2020-12-25', '2020-12-26', '2020-12-27', '2020-12-30',
               '2020-12-31', '2021-01-01', '2021-01-02', '2021-01-06',
               '2021-01-07', '2021-01-08'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [156]:
stocks.index + pd.DateOffset(weeks = -3)

DatetimeIndex(['2009-12-09', '2009-12-10', '2009-12-11', '2009-12-12',
               '2009-12-13', '2009-12-16', '2009-12-17', '2009-12-18',
               '2009-12-19', '2009-12-20',
               ...
               '2020-11-20', '2020-11-21', '2020-11-22', '2020-11-25',
               '2020-11-26', '2020-11-27', '2020-11-28', '2020-12-02',
               '2020-12-03', '2020-12-04'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [157]:
stocks.index + pd.DateOffset(months = 3)

DatetimeIndex(['2010-03-30', '2010-03-31', '2010-04-01', '2010-04-02',
               '2010-04-03', '2010-04-06', '2010-04-07', '2010-04-08',
               '2010-04-09', '2010-04-10',
               ...
               '2021-03-11', '2021-03-12', '2021-03-13', '2021-03-16',
               '2021-03-17', '2021-03-18', '2021-03-19', '2021-03-23',
               '2021-03-24', '2021-03-25'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [158]:
stocks.index - pd.DateOffset(months = 5)

DatetimeIndex(['2009-07-30', '2009-07-31', '2009-08-01', '2009-08-02',
               '2009-08-03', '2009-08-06', '2009-08-07', '2009-08-08',
               '2009-08-09', '2009-08-10',
               ...
               '2020-07-11', '2020-07-12', '2020-07-13', '2020-07-16',
               '2020-07-17', '2020-07-18', '2020-07-19', '2020-07-23',
               '2020-07-24', '2020-07-25'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [159]:
stocks.index - pd.DateOffset(years = 1)

DatetimeIndex(['2008-12-30', '2008-12-31', '2009-01-01', '2009-01-02',
               '2009-01-03', '2009-01-06', '2009-01-07', '2009-01-08',
               '2009-01-09', '2009-01-10',
               ...
               '2019-12-11', '2019-12-12', '2019-12-13', '2019-12-16',
               '2019-12-17', '2019-12-18', '2019-12-19', '2019-12-23',
               '2019-12-24', '2019-12-25'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [160]:
stocks.index + pd.DateOffset(years = 8)

DatetimeIndex(['2017-12-30', '2017-12-31', '2018-01-01', '2018-01-02',
               '2018-01-03', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10',
               ...
               '2028-12-11', '2028-12-12', '2028-12-13', '2028-12-16',
               '2028-12-17', '2028-12-18', '2028-12-19', '2028-12-23',
               '2028-12-24', '2028-12-25'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [161]:
stocks.index + pd.DateOffset(years = 1, months = 3, days = 10, hours = 6, minutes = 2)

DatetimeIndex(['2011-04-09 06:02:00', '2011-04-10 06:02:00',
               '2011-04-11 06:02:00', '2011-04-12 06:02:00',
               '2011-04-13 06:02:00', '2011-04-16 06:02:00',
               '2011-04-17 06:02:00', '2011-04-18 06:02:00',
               '2011-04-19 06:02:00', '2011-04-20 06:02:00',
               ...
               '2022-03-21 06:02:00', '2022-03-22 06:02:00',
               '2022-03-23 06:02:00', '2022-03-26 06:02:00',
               '2022-03-27 06:02:00', '2022-03-28 06:02:00',
               '2022-03-29 06:02:00', '2022-04-02 06:02:00',
               '2022-04-03 06:02:00', '2022-04-04 06:02:00'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [162]:
stocks.index - pd.DateOffset(years = 1, months = 3, days = 10, hours = 6, minutes = 2)

DatetimeIndex(['2008-09-19 17:58:00', '2008-09-19 17:58:00',
               '2008-09-20 17:58:00', '2008-09-21 17:58:00',
               '2008-09-22 17:58:00', '2008-09-25 17:58:00',
               '2008-09-26 17:58:00', '2008-09-27 17:58:00',
               '2008-09-28 17:58:00', '2008-09-29 17:58:00',
               ...
               '2019-08-31 17:58:00', '2019-09-01 17:58:00',
               '2019-09-02 17:58:00', '2019-09-05 17:58:00',
               '2019-09-06 17:58:00', '2019-09-07 17:58:00',
               '2019-09-08 17:58:00', '2019-09-12 17:58:00',
               '2019-09-13 17:58:00', '2019-09-14 17:58:00'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

### Timeseries Offsets

In [163]:
# https://stackoverflow.com/questions/74832296/typeerror-string-indices-must-be-integers-when-getting-data-of-a-stock-from-y
import pandas as pd
import datetime as dt
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()
# y_symbols = ['SCHAND.NS', 'TATAPOWER.NS', 'ITC.NS']
y_symbols = ['MSFT']
from datetime import datetime
startdate = datetime(2010,1,1)
enddate = datetime(2020,12,31)
stocks = pdr.get_data_yahoo(y_symbols, start=startdate, end=enddate)
stocks

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,30.620001,31.100000,30.590000,30.950001,23.683073,38409100
2010-01-05,30.850000,31.100000,30.639999,30.959999,23.690720,49749600
2010-01-06,30.879999,31.080000,30.520000,30.770000,23.545328,58182400
2010-01-07,30.629999,30.700001,30.190001,30.450001,23.300468,50559700
2010-01-08,30.280001,30.879999,30.240000,30.660000,23.461153,51197400
...,...,...,...,...,...,...
2020-12-23,223.110001,223.559998,220.800003,221.020004,217.148026,18699600
2020-12-24,221.419998,223.610001,221.199997,222.750000,218.847702,10550600
2020-12-28,224.449997,226.029999,223.020004,224.960007,221.019012,17933500
2020-12-29,226.309998,227.179993,223.580002,224.149994,220.223206,17403200
2020-12-30,225.229996,225.630005,221.470001,221.679993,217.796463,20272300

In [164]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [165]:
stocks.tail(3)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-28,224.449997,226.029999,223.020004,224.960007,221.019012,17933500
2020-12-29,226.309998,227.179993,223.580002,224.149994,220.223206,17403200
2020-12-30,225.229996,225.630005,221.470001,221.679993,217.796463,20272300

In [166]:
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [167]:
stocks.index + pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01',
               ...
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [168]:
stocks.index - pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2020-12-01', '2020-12-01', '2020-12-01', '2020-12-01',
               '2020-12-01', '2020-12-01', '2020-12-01', '2020-12-01',
               '2020-12-01', '2020-12-01'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [169]:
from pandas.tseries import offsets

In [170]:
stocks.index + offsets.MonthBegin()

DatetimeIndex(['2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01',
               ...
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [171]:
stocks.index + offsets.BMonthEnd()

DatetimeIndex(['2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [172]:
stocks.index - offsets.BMonthEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [173]:
stocks.index + offsets.YearEnd()

DatetimeIndex(['2010-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [174]:
stocks.index - offsets.YearEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [175]:
stocks.index + offsets.YearBegin()

DatetimeIndex(['2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
               '2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
               '2011-01-01', '2011-01-01',
               ...
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [176]:
stocks.index - offsets.YearBegin()

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

### The `Timedelta` Object

In [178]:
time_a = pd.Timestamp("2020-03-31")

In [179]:
time_b = pd.Timestamp("2020-03-20")

In [180]:
time_a - time_b

Timedelta('11 days 00:00:00')

In [181]:
time_a = pd.Timestamp("2020-03-31 04:35:16PM")

In [184]:
time_b = pd.Timestamp("2020-03-20 02:15:49AM")

In [185]:
time_a - time_b

Timedelta('11 days 14:19:27')

In [186]:
time_b - time_a

Timedelta('-12 days +09:40:33')

In [187]:
pd.Timedelta(days = 3)

Timedelta('3 days 00:00:00')

In [188]:
time_a + pd.Timedelta(days = 3)

Timestamp('2020-04-03 16:35:16')

In [191]:
pd.Timedelta(days = 3, hours = 12, minutes = 45, seconds = 20)

Timedelta('3 days 12:45:20')

In [192]:
pd.Timedelta(weeks = 8, days = 3, hours = 12, minutes = 45, seconds = 20)

Timedelta('59 days 12:45:20')

In [193]:
pd.Timedelta("5 minutes")

Timedelta('0 days 00:05:00')

In [194]:
pd.Timedelta("6 hours 12 minutes")

Timedelta('0 days 06:12:00')

In [195]:
pd.Timedelta("14 days 6 hours 12 minutes 49 seconds")

Timedelta('14 days 06:12:49')

### Timedeltas in a Dataset

In [196]:
pd.read_csv("ecommerce.csv")

      ID order_date delivery_date
0      1    5/24/98        2/5/99
1      2    4/22/92        3/6/98
2      4    2/10/91       8/26/92
3      5    7/21/92      11/20/97
4      7     9/2/93       6/10/98
..   ...        ...           ...
496  990    6/24/91        2/2/96
497  991     9/9/91       3/30/98
498  993   11/16/90       4/27/98
499  994     6/3/93       6/13/93
500  997     1/4/90       10/3/91

[501 rows x 3 columns]

In [197]:
pd.read_csv("ecommerce.csv", index_col="ID")

    order_date delivery_date
ID
1      5/24/98        2/5/99
2      4/22/92        3/6/98
4      2/10/91       8/26/92
5      7/21/92      11/20/97
7       9/2/93       6/10/98
..         ...           ...
990    6/24/91        2/2/96
991     9/9/91       3/30/98
993   11/16/90       4/27/98
994     6/3/93       6/13/93
997     1/4/90       10/3/91

[501 rows x 2 columns]

In [199]:
pd.read_csv("ecommerce.csv", index_col="ID", parse_dates=["order_date","delivery_date"])

    order_date delivery_date
ID
1   1998-05-24    1999-02-05
2   1992-04-22    1998-03-06
4   1991-02-10    1992-08-26
5   1992-07-21    1997-11-20
7   1993-09-02    1998-06-10
..         ...           ...
990 1991-06-24    1996-02-02
991 1991-09-09    1998-03-30
993 1990-11-16    1998-04-27
994 1993-06-03    1993-06-13
997 1990-01-04    1991-10-03

[501 rows x 2 columns]

In [200]:
shipping = pd.read_csv("ecommerce.csv", index_col="ID", parse_dates=["order_date","delivery_date"])
shipping

    order_date delivery_date
ID
1   1998-05-24    1999-02-05
2   1992-04-22    1998-03-06
4   1991-02-10    1992-08-26
5   1992-07-21    1997-11-20
7   1993-09-02    1998-06-10
..         ...           ...
990 1991-06-24    1996-02-02
991 1991-09-09    1998-03-30
993 1990-11-16    1998-04-27
994 1993-06-03    1993-06-13
997 1990-01-04    1991-10-03

[501 rows x 2 columns]

In [202]:
shipping["delivery_date"] - shipping["order_date"]

ID
1      257 days
2     2144 days
4      563 days
5     1948 days
7     1742 days
         ...
990   1684 days
991   2394 days
993   2719 days
994     10 days
997    637 days
Length: 501, dtype: timedelta64[ns]

In [203]:
shipping["Delivery time"] = shipping["delivery_date"] - shipping["order_date"]
shipping

    order_date delivery_date Delivery time
ID
1   1998-05-24    1999-02-05      257 days
2   1992-04-22    1998-03-06     2144 days
4   1991-02-10    1992-08-26      563 days
5   1992-07-21    1997-11-20     1948 days
7   1993-09-02    1998-06-10     1742 days
..         ...           ...           ...
990 1991-06-24    1996-02-02     1684 days
991 1991-09-09    1998-03-30     2394 days
993 1990-11-16    1998-04-27     2719 days
994 1993-06-03    1993-06-13       10 days
997 1990-01-04    1991-10-03      637 days

[501 rows x 3 columns]

In [204]:
shipping["delivery_date"] + shipping["Delivery time"]

ID
1     1999-10-20
2     2004-01-18
4     1994-03-12
5     2003-03-22
7     2003-03-18
         ...
990   2000-09-12
991   2004-10-18
993   2005-10-06
994   1993-06-23
997   1993-07-01
Length: 501, dtype: datetime64[ns]

In [205]:
shipping["delivery_date"] - shipping["Delivery time"]

ID
1     1998-05-24
2     1992-04-22
4     1991-02-10
5     1992-07-21
7     1993-09-02
         ...
990   1991-06-24
991   1991-09-09
993   1990-11-16
994   1993-06-03
997   1990-01-04
Length: 501, dtype: datetime64[ns]

In [206]:
shipping["Twice as long"] = shipping["delivery_date"] + shipping["Delivery time"]

In [207]:
shipping

    order_date delivery_date Delivery time Twice as long
ID
1   1998-05-24    1999-02-05      257 days    1999-10-20
2   1992-04-22    1998-03-06     2144 days    2004-01-18
4   1991-02-10    1992-08-26      563 days    1994-03-12
5   1992-07-21    1997-11-20     1948 days    2003-03-22
7   1993-09-02    1998-06-10     1742 days    2003-03-18
..         ...           ...           ...           ...
990 1991-06-24    1996-02-02     1684 days    2000-09-12
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06
994 1993-06-03    1993-06-13       10 days    1993-06-23
997 1990-01-04    1991-10-03      637 days    1993-07-01

[501 rows x 4 columns]

In [208]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery time    timedelta64[ns]
Twice as long     datetime64[ns]
dtype: object

In [209]:
shipping["Delivery time"] > "365 days"

ID
1      False
2       True
4       True
5       True
7       True
       ...
990     True
991     True
993     True
994    False
997     True
Name: Delivery time, Length: 501, dtype: bool

In [210]:
mask = shipping["Delivery time"] > "365 days"
shipping[mask]

    order_date delivery_date Delivery time Twice as long
ID
2   1992-04-22    1998-03-06     2144 days    2004-01-18
4   1991-02-10    1992-08-26      563 days    1994-03-12
5   1992-07-21    1997-11-20     1948 days    2003-03-22
7   1993-09-02    1998-06-10     1742 days    2003-03-18
9   1990-01-25    1994-10-02     1711 days    1999-06-09
..         ...           ...           ...           ...
986 1990-12-10    1992-12-16      737 days    1994-12-23
990 1991-06-24    1996-02-02     1684 days    2000-09-12
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06
997 1990-01-04    1991-10-03      637 days    1993-07-01

[394 rows x 4 columns]

In [211]:
shipping["Delivery time"].max()

Timedelta('3583 days 00:00:00')

In [212]:
shipping["Delivery time"].min()

Timedelta('8 days 00:00:00')